.background-container{
    height:100vh;
    background-image:linear-gradient(
        to bottom,
        rgba(2, 209, 255, 0.3),
        rgba(2, 209, 255, 0.6)),
        url(picturesforcoding/luke-chesser-pJadQetzTkI-unsplash.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    
}

.portfolio_cards{

    margin: 1rem;
    min-block-size: 2.5in;
    
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  portfolio_wrapper{
    height:100vh;
    background-image:linear-gradient(
        to bottom,
        rgba(2, 209, 255, 0.3),
        rgba(2, 209, 255, 0.6)),
        url(picturesforcoding/luke-chesser-pJadQetzTkI-unsplash.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
  }